@import '~/styles/mixins';

.container {
    background-color: var(--gray-8);
    font-weight: 500;
}

.wrapper {
    @include flex(space-between);
}

.list {
    @include flex;
    gap: 32px;
    color: var(--gray-4);
}

.text {
    text-transform: capitalize;
}

.item {
    transition: color 0.1s ease;
    &:hover,
    &:focus {
        color: var(--white);
    }
}

.info {
    @include flex($gap: 8px);
    color: var(--white);
    padding: 16px 0;
}
